
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) (url) url("image.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size: cover;


}


